.fa-facebook-official
{
    color: blue;
    text-decoration: none;

}
.fa-amazon
{
    color: orange;
}
.fa-apple
{
    color: grey;
}
.fa-google
{
    color: yellow;
}
.fa
{
font-size: 100px;
}